$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$header-height: 100px;
$paper-white: #fefefe;
$charcoal: #4e4e4e;
$black: #1c1b19;
$tan: #f3c478;
$beige: #f5f5dc;

body {
  background-color: $paper-white;
  color: $charcoal;
}

.header {
  background-color: $tan;
  border: 1px solid $black;
  font-family: 'Rammetto One', cursive;
  font-size: 24px;
  height: $header-height;
  line-height: $header-height;
  text-align: center;
}

.spaceholder {
  height: 150px;
}

.game-cell {
  background-color: $beige;
  border: 1px solid $black;
  height: 125px;
}
