$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.header {
  border: 1px solid $black;
  font-size: 50px;
  height: $header-height;
  line-height: $header-height;
  margin-top: 40px;
  text-align: center;
}

.game-board {
  margin-top: 50px;
}

.game-cell {
  border: 1px solid $black;
  height: 125px;
}

.view-prior-page,
.user-profile-page {
  margin-top: 50px;
}

.user-x-prior-games,
.user-x-profile {
  border: 1px solid $black;
  font-size: 30px;
  height: $header-height * .75;
  line-height: $header-height * .75;
  margin-bottom: 35px;
  text-align: center;
}

.view-button-wrapper,
.profile-button-wrapper {
  margin: 35px 0 0;
}

.prior-games-buttons,
.profile-buttons {
  margin-top: 25px;
}

.log-in-screen {
  margin: 75px 0 0;
}

.log-in-buttons {
  margin-top: 25px;
}

.turn-tracker {
  font-size: 25px;
  text-align: center;
}

.log-in-modal {
  padding: 25px 25px 10px 0;
}

.prior-games-container {
  border: 1px solid $black;
  height: 85px;
  margin-top: 25px;
  padding-top: 12px;
  text-align: left;
}
