$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.header {
  border-top-style: double;
  border-bottom-style: double;
  border-top-color: #7cbfcf;
  border-bottom-color: #7cbfcf;
  border-top-width: 15px;
  border-bottom-width: 15px;
  font-size: 50px;
  margin-top: 40px;
  padding-bottom: 10px;
  padding-top: 15px;
  text-align: center;
}

.game-board {
  margin-top: 50px;
  margin-bottom: 50px;
}

.game-cell {
  border-left-width: 7px;
  border-top-width: 7px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-color: darken(#416F94, 15%);
  border-style: solid;
  height: 0px;
  font-size: 250px;
  padding-top: 16.666666%;
  padding-bottom: 16.666666%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-2,
.cell-5,
.cell-8 {
  border-right-width: 7px;
}

.cell-6,
.cell-7,
.cell-8 {
  border-bottom-width: 7px;
}

.view-prior-page,
.user-profile-page {
  margin-top: 50px;
}

.user-x-prior-games,
.user-x-profile {
  border: 1px solid $black;
  font-size: 35px;
  margin-bottom: 35px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.view-button-wrapper,
.profile-button-wrapper {
  margin: 35px 0 0;
}

.log-in-screen {
  margin: 75px 0 0;
}

.log-in-buttons,
.profile-buttons,
.prior-games-buttons {
  border: 2px solid $black;
  font-size: 20px;
  margin-top: 25px;
  padding: 15px;
}

.return-to-prior-games-page-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  padding: 5px;
  width: 125px;
}

.turn-tracker {
  font-size: 25px;
  text-align: center;
}

.prior-games-container {
  border: 1px solid $black;
  margin-top: 25px;
  padding: 15px;
  text-align: left;
}

.prior-games-table {
  margin-top: 15px;
}

td {
  border: 2px solid $black;
  font-size: 20px
}

.title-cell {
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 125px;
}

.fill-cell {
  text-align: center;
  width: 300px;
  padding: 5px;
}

.prior-games-table-table {
  border: 1px solid $black;
  margin: 15px auto;
}

.game-readout-table {
  margin: 10px auto;
}

.game-readout-cell {
  height: 100px;
  line-height: 100px;
  text-align: center;
  width: 100px;
  font-size: 50px;
}

.log-in-modal {
  padding: 5px 25px 10px 0;
}

.register-modal-content {
  padding: 5px 25px 10px 15px;
}

.view-by-id-modal-cotent {
  padding: 5px 25px 10px 0;
}

.edit-password-modal-content {
  padding: 5px 20px 0 0;
}

.universal-response-modal,
.universal-response-modal-content,
.winner-modal-content,
.winner-model-content-wrapper {
  font-size: 20px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.form-control {
  border: 1px solid $black;
}

.close-modal {
  font-size: 20px;
  padding: 5px;
  position: absolute;
  right: 2%;
}

.space-div {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.universal-space-div {
  padding-bottom: 30px;
}

@media (max-width: 1180px) {
  .game-cell {
    font-size: 200px;
  }
}

@media (max-width: 1100px) {
  .game-cell {
    font-size: 175px;
  }
}

@media (max-width: 991px) {
  .log-in-modal {
    padding: 5px 25px 10px 15px;
  }

  .edit-password-modal-content {
    padding: 5px 20px 0 18px;
  }
}

@media (max-width: 960px) {
  .game-cell {
    font-size: 150px;
  }
}

@media (max-width: 830px) {
  .game-cell {
    font-size: 125px;
  }
}

@media (max-width: 775px) {
  .return-to-prior-games-page-button {
    font-size: 12px;
    width: 100px;
  }
}

@media (max-width: 767px) {
  .view-by-id-modal-cotent {
    padding: 5px 25px 10px;
  }

  .space-div {
    margin-bottom: 20px;
  }
}

@media (max-width: 730px) {
  .game-cell {
    font-size: 100px;
  }
}

@media (max-width: 699px) {
  td {
    font-size: 15px;
  }

  .title-cell {
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 110px;
  }

  .fill-cell {
    width: 200px;
  }

}

@media (max-width: 650px) {
  .header {
    font-size: 35px;
  }

  .user-x-prior-games,
  .user-x-profile {
    font-size: 25px;
  }

  .log-in-buttons,
  .profile-buttons,
  .prior-games-buttons {
    font-size: 15px;
  }

  .return-to-prior-games-page-button {
    font-size: 12px;
  }
}

@media (max-width: 630px) {
  .game-cell {
    font-size: 75px;
  }
}

@media (max-width: 566px) {
  .return-to-prior-games-page-button {
    width: 75px;
  }
}

@media (max-width: 542px) {
  .game-readout-cell {
    height: 75px;
    line-height: 75px;
    text-align: center;
    width: 75px;
  }

  #view-all-prior,
  #view-ID-prior,
  #return-to-profile {
    padding: 10px;
  }

  .game-cell {
    border-left-width: 4px;
    border-top-width: 4px;
  }

  .cell-2,
  .cell-5,
  .cell-8 {
    border-right-width: 4px;
  }

  .cell-6,
  .cell-7,
  .cell-8 {
    border-bottom-width: 4px;
  }

}

@media (max-width: 509px) {

  #view-all-prior,
  #view-ID-prior,
  #return-to-profile {
    padding: 7px;
  }

}

@media (max-width: 500px) {
  .universal-response-modal,
  .universal-response-modal-content,
  .winner-modal-content,
  .winner-model-content-wrapper {
    font-size: 15px;
  }

  .header {
    font-size: 25px;
  }

  .turn-tracker {
    font-size: 18px;
    text-align: center;
  }

  .user-x-prior-games,
  .user-x-profile {
    font-size: 15px;
  }

  .log-in-buttons,
  .profile-buttons,
  .prior-games-buttons {
    font-size: 12px;
    padding: 5px;
  }

  .game-cell {
    font-size: 65px;
  }

  .return-to-prior-games-page-button {
    font-size: 10px;
    bottom: 5px;
    right: 5px;
  }

}

@media (max-width: 450px) {
  .game-readout-cell {
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    font-size: 35px;
  }
}

@media (max-width: 442px) {
  .title-cell {
    padding-left: 5px;
    padding-right: 5px;
  }

  .fill-cell {
    max-width: 100px;
    overflow: auto;
  }

  #view-all-prior,
  #view-ID-prior,
  #return-to-profile {
    padding: 3px;
  }

}
