$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.header {
  // border: 2px solid $black;
  // border: 20px groove $tan;
  // testing new border
  border-top-style: double;
  border-bottom-style: double;
  border-top-color: #7cbfcf;
  border-bottom-color: #7cbfcf;
  border-top-width: 15px;
  border-bottom-width: 15px;
  // testing new border
  font-size: 50px;
  margin-top: 40px;
  padding-bottom: 10px;
  padding-top: 15px;
  text-align: center;
}

.game-board {
  margin-top: 50px;
}

.game-cell {
  border-left-width: 7px;
  border-top-width: 7px;
  border-color: darken(#416F94, 15%);
  border-style: solid;
  height: 125px;
  font-size: 50px;
  line-height: 125px;
  text-align: center;
}

.cell-2,
.cell-5,
.cell-8 {
  border-right-width: 7px;
}

.cell-6,
.cell-7,
.cell-8 {
  border-bottom-width: 7px;
}

.view-prior-page,
.user-profile-page {
  margin-top: 50px;
}

.user-x-prior-games,
.user-x-profile {
  border: 1px solid $black;
  font-size: 35px;
  margin-bottom: 35px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.view-button-wrapper,
.profile-button-wrapper {
  margin: 35px 0 0;
}

.log-in-screen {
  margin: 75px 0 0;
}

.log-in-buttons,
.profile-buttons,
.prior-games-buttons {
  border: 2px solid $black;
  font-size: 20px;
  margin-top: 25px;
  padding: 15px;
}

.return-to-prior-games-page-button {
  margin-bottom: 50px;
}

.turn-tracker {
  font-size: 25px;
  text-align: center;
}

.prior-games-container {
  border: 1px solid $black;
  // height: 85px;
  margin-top: 25px;
  padding: 15px;
  text-align: left;
}

.prior-games-table {
  margin-top: 15px;
}

// styling new table

td {
  border: 2px solid $black;
}

.title-cell {
  width: 75px;
}

.fill-cell {
  text-align: center;
  width: 300px;
}

.prior-games-table-table {
  border: 1px solid $black;
  margin: 15px auto;
}

// styling new table

.log-in-modal {
  padding: 5px 25px 10px 0;
}

.register-modal-content {
  padding: 5px 25px 10px 15px;
}

.view-by-id-modal-cotent {
  padding: 5px 25px 10px 0;
}

.edit-password-modal-content {
  padding: 5px 20px 0 0;
}

.universal-response-modal,
.universal-response-modal-content,
.winner-modal-content,
.winner-model-content-wrapper {
  font-size: 20px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  // text-align: center;
}

.form-control {
  border: 1px solid $black;
}

.close-modal {
  font-size: 20px;
  padding: 5px;
  position: absolute;
  right: 2%;
  // margin-bottom: 50px;
  // display: block;
}

.space-div {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.universal-space-div {
  padding-bottom: 30px;
}

@media (max-width: 991px) {
  .log-in-modal {
    padding: 5px 25px 10px 15px;
  }

  .edit-password-modal-content {
    padding: 5px 20px 0 18px;
  }
}

@media (max-width: 767px) {
  .view-by-id-modal-cotent {
    padding: 5px 25px 10px;
  }

  .space-div {
    margin-bottom: 20px;
  }
}

@media (max-width: 650px) {
  .header {
    font-size: 35px;
  }

  .user-x-prior-games,
  .user-x-profile {
    font-size: 25px;
  }

  .log-in-buttons,
  .profile-buttons,
  .prior-games-buttons {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .universal-response-modal,
  .universal-response-modal-content,
  .winner-modal-content,
  .winner-model-content-wrapper {
    font-size: 15px;
  }

  .header {
    font-size: 25px;
  }

  .turn-tracker {
    font-size: 18px;
    text-align: center;
  }

  .user-x-prior-games,
  .user-x-profile {
    font-size: 15px;
  }

  .log-in-buttons,
  .profile-buttons,
  .prior-games-buttons {
    font-size: 12px;
    padding: 5px;
  }

  .game-cell {
    border-left-width: 3px;
    border-top-width: 3px;
    border-color: darken(#416F94, 15%);
    border-style: solid;
    height: 75px;
    font-size: 35px;
    line-height: 75px;
    text-align: center;
  }

  .cell-2,
  .cell-5,
  .cell-8 {
    border-right-width: 3px;
  }

  .cell-6,
  .cell-7,
  .cell-8 {
    border-bottom-width: 3px;
  }

  body {
    background-image: url('http://www.publicdomainpictures.net/pictures/240000/velka/background-triangles-abstract.jpg');
    background-size: cover;
  }

}
