$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: $paper-white;
  color: $charcoal;
}

.header {
  background-color: $tan;
  font-family: 'Rammetto One', cursive;
}

.turn-tracker {
  font-family: 'Rammetto One', cursive;
}

.user-x-profile {
  background-color: $charcoal;
  color: $tan;
  font-family: 'Rammetto One', cursive;
}

.game-cell {
  background-color: $beige;
}
